:root {
  --fondo: #2eac8f;
  font-family: Inter;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body > header {
  width: 100%;
  padding: 10px;
  background-color: #222;
  text-align: center;
}

body {
  width: 100%;
  min-height: 100vh;
  color: #fff;
  background: var(--fondo);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.pokemons-container {
  width: 100%;
  max-width: 900px;
  padding: 30px;
  background: #fff;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.pokemons-container h1 {
  font-size: 2rem;
}
.pokemons-container form h2 {
  text-align: center;
  margin-bottom: 5px;
}
.pokemons-container form input, .pokemons-container form select {
  font-family: Inter;
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 0.85rem;
  border: 1px solid #777;
}
.pokemons-container .list-pokemons {
  margin-top: 20px;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15px;
}
.pokemons-container .list-pokemons h1 {
  color: #111;
  text-align: center;
}
.pokemons-container .list-pokemons > li {
  width: 270px;
  padding: 10px;
  height: 380px;
  -webkit-box-shadow: 0 2px 20px 1px rgba(0, 0, 0, 0.1333333333);
          box-shadow: 0 2px 20px 1px rgba(0, 0, 0, 0.1333333333);
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}
.pokemons-container .list-pokemons > li:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  z-index: 3;
}
.pokemons-container .list-pokemons > li img {
  width: 100%;
  height: 210px;
  border-radius: 6px;
  -o-object-fit: contain;
     object-fit: contain;
}
.pokemons-container .list-pokemons > li > div {
  width: 100%;
  height: 100%;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
}
.pokemons-container .list-pokemons > li > div h3 {
  font-size: 2rem;
}
.pokemons-container .list-pokemons > li > div h3 span {
  color: #111;
  font-size: 0.9rem;
  display: block;
}
.pokemons-container .list-pokemons > li > div ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style-type: none;
  gap: 5px;
}

li.type {
  color: #fff;
  background-color: #aaa;
  border: 1px solid rgba(0, 0, 0, 0.1333333333);
  font-weight: bold;
  font-size: 0.8rem;
  padding: 5px 10px;
  border-radius: 3px;
}
li.type.grass {
  background: #7c5;
}
li.type.poison {
  background: #7a2edf;
}
li.type.steel {
  background: #aaa;
}
li.type.water {
  background: #43b3f0;
}
li.type.bug {
  background: #377e56;
}
li.type.dragon {
  background: #6c10be;
}
li.type.electric {
  background: #ffc400;
}
li.type.ghost {
  background: #6347ff;
}
li.type.fire {
  background: #ff2929;
}
li.type.fairy {
  background: #d35beb;
}
li.type.ice {
  background: #5ddad3;
}
li.type.fighting {
  background: #962d2d;
}
li.type.normal {
  background: #bebebe;
}
li.type.psychic {
  background: #ff289e;
}
li.type.rock {
  background: #773b31;
}
li.type.dark {
  background: #3a1408;
}
li.type.ground {
  background: #ffae45;
}
li.type.flying {
  background: #5093ca;
}

.pokemon-attrs {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6666666667)), to(rgba(0, 0, 0, 0.9333333333)));
  background: linear-gradient(rgba(0, 0, 0, 0.6666666667), rgba(0, 0, 0, 0.9333333333));
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  display: none;
}
.pokemon-attrs .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 2rem;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #aaa;
}
.pokemon-attrs .icon:hover {
  color: #ddd;
}
.pokemon-attrs article {
  max-width: 600px;
  width: 95%;
  padding: 1rem;
  padding-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  border-radius: 6px;
  color: #000;
}
.pokemon-attrs article header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.pokemon-attrs article header .info {
  padding: 20px;
}
.pokemon-attrs article header .info small {
  font-size: 1em;
  font-weight: bold;
}
.pokemon-attrs article header .info h1 {
  font-size: 2.8em;
  margin-bottom: 5px;
}
.pokemon-attrs article header .info ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 5px;
  list-style-type: none;
  display: flex;
  gap: 5px;
  margin-bottom: 8px;
}
.pokemon-attrs article header img {
  width: 50%;
  -o-object-fit: contain;
     object-fit: contain;
}
.pokemon-attrs article .stats {
  width: 100%;
  padding: 0 20px;
}
.pokemon-attrs article .stats .list-stats {
  width: 100%;
  gap: 20px;
  row-gap: 10px;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.pokemon-attrs article .stats .list-stats li {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.pokemon-attrs article .stats .list-stats li span {
  width: 100%;
  text-align: center;
  border-radius: 3px;
  background: #bbb;
  padding: 5px 10px;
  font-size: 1.5rem;
  font-weight: bold;
}
.pokemon-attrs article .stats .list-stats li label {
  font-weight: bold;
  font-size: 0.7rem;
}

.pokemon-attrs.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 500px) {
  .pokemon-attrs {
    font-size: 12px;
  }
  .pokemon-attrs article header {
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .pokemon-attrs article header .info {
    padding-top: 160px;
    z-index: 5;
  }
  .pokemon-attrs article header .info h1 {
    text-shadow: 0 0 5px #fff;
  }
  .pokemon-attrs article header img {
    position: absolute;
    top: 0;
    right: 10px;
    width: 100%;
    max-width: 250px;
  }
}